
<h1><%= @state.name %></h1>
<p><b>Deuda</b>: <%= @debt %></p>
<p><b>Personas</b>: <%= @state.financials["people"] %></p>

<div id="counter" class="flip-counter"></div>
<div>
  Casas Infonavit: <%= @debt / 350000 %>
  Estadio Azteca: 
  Patrulla: <%= @debt / 427930 %>
  Tonelada de Tortilla <%= @debt / 15000 %>
</div>
<script>

var myCounter = new flipCounter("counter", {inc: <%= @debt/1224732 * 1843 %>, pace: 1, auto:false});

myCounter.incrementTo(<%= @debt %>)
</script>
