<div id="infografia">
<h1><%= @state.name %></h1>

<div id="counter" class="flip-counter"></div>

<div class="equivalencias-wrapper">
	<div class="dashboard clearfix">
		<ul class="tiles">
		<div class="col1 clearfix">
			<li class="tile tile-big tile-1" data-page-type="r-page" data-page-name="random-r-page">
			<div><p><span class="icon">D</span><br>
				<b><%= number_with_delimiter(@debt/@prices["Casa Infonavit"].round) %></b><br/> Casas Infonavit
				</p>
			</div>
			</li>
			<li class="tile tile-big tile-1" data-page-type="r-page" data-page-name="random-r-page">
			<div><p><span class="icon">J</span><br>
				<b><%= number_with_delimiter(@debt/@prices["Hospital"].round) %></b><br/> Hospitales
			</p></div>
			</li>

			<li class="tile tile-big tile-1" data-page-type="r-page" data-page-name="random-r-page">
			<div><p><span class="icon">I</span><br>
				<b><%= number_with_delimiter(@debt/@prices["Club América"].round) %></b><br/> Club's America
			</p></div>
			</li>
	    </div>
		<div class="col2 clearfix">
			<li class="tile tile-big tile-1" data-page-type="r-page" data-page-name="random-r-page">
			<div><p><span class="icon">B</span><br>
			<b><%= number_with_delimiter(@debt/@prices["Patrulla"].round) %></b><br/> Patrullas
			</p></div>
			</li>
			<li class="tile tile-big tile-1" data-page-type="r-page" data-page-name="random-r-page">
			<div><p><span class="icon">E</span><br>
				<b><%= number_with_delimiter(@debt/@prices["Estadio Azteca"].round) %></b><br/> Estadios Azteca
			</p></div>
			</li>
	    </div>
		<div class="col3 clearfix">
			<li class="tile tile-big tile-1" data-page-type="r-page" data-page-name="random-r-page">
			<div><p><span class="icon">A</span><br>
				<b><%= number_with_delimiter(@debt/@prices["Ambulancia"].round) %></b><br/> Ambulancias
			</p></div>
			</li>

			<li class="tile tile-big tile-1" data-page-type="r-page" data-page-name="random-r-page">
			<div><p><span class="icon">G</span><br>
				<b><%= number_with_delimiter(@debt/@prices["Beca"].round) %></b><br/> Becas
			</p></div>
			</li>
	    </div>
	</div>


</div>
</div>
<script>

var myCounter = new flipCounter("counter", {inc: <%= @debt/1224732 * 1843 %>, pace: 1, auto:false});

myCounter.incrementTo(<%= @debt %>)
</script>
