<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title><%= @title || "CuantoDebemos" %></title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <link href="http://fonts.googleapis.com/css?family=Oleo+Script|Ubuntu:300" rel="stylesheet" type="text/css" data-noprefix>
  
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">
    <div class="row">
      <div class="col-sm-12">
        <div class="col-xs-4 sidebar">
          <%=render 'layouts/sidebar'%>
		  <%= render 'layouts/footer' %>
		  
        </div>
        <div class="col-xs-8">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>


</body>
</html>
